<div class="span2">
  <div class="left-column hidden-phone">
    <div class="filters box" id="filters-amizade">
      <h3>Content</h3>
      <ul id="filters" class="box-content nav nav-pills nav-stacked">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Mentions</a></li>
        <li><a href="#">Alerts<span class="pending">14</span></a></li>
      </ul>
    </div>  
   </div>
  </div>

  <div class="span8 chat-column">
    <h3 id="topic-amizade" class="topic">&nbsp;</h3>

    <div class="chat-window scroll-pane" id="muc-amizade">
      <div class="chat-muc-messages">
        
        <div class="row-fluid hide message-container" id="empty-message">
          <div class="message">
            <div class="span1">
              <div class="message-avatar hidden-phone">
                <div class="avatar-placeholder">&nbsp;</div>
              </div>            
            </div>
            <div class="span11">
              <div class="message-content">
                <p class="nick">Nick</p>
                <p class="timestamp">Time</p>
                <p class="text">Message</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="chat-input form-inline">
      <table width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td><%= text_area :input, '', class: 'chat-input-field', rows: 2 %></td>
            <td class="btn-send-td"><%= link_to_function 'Send', 'return false', class: 'btn btn-info btn-send' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="span2">
    <div class="right-column">
    <div class="user-list box" id="user-list-amizade">
      <h3>Users</h3>
      <ul class="users box-content unstyled">
        <li class="concierge">
          <div class="online-placeholder img-rounded img-polaroid">
            <div class="userimg" style="background:url('/assets/concierge32.png')"></div>
          </div>
          <div class="user-name-container"><span class="concierge">Concierge</span>
        </li>

        <li id="empty-user" class="hide">
          <div class="online-placeholder img-rounded img-polaroid">
            <div class="userimg" style="background:url('/assets/default-avatar.png')"></div>
          </div>
          <div class="user-name-container"><span class="user-name">&nbsp;</span></div>
        </li>
      </ul>
    </div>

    <div class="search box" id="search-amizade">
      <h3>Search</h3>
      <div class="input-append box-content">
        <input class="" id="appendedInputButtons" type="text">
        <button class="btn" type="button"><i class="icon-search"></i></button>
      </div>
    </div>

    <div class="timeline box" id="timeline-amizade">
      <h3>Timeline</h3>
    </div>
  </div>
</div>

<script type="text/javascript">
  var jabber = null;
  var gui = null;

  $(document).ready(function () {
    $('.scroll-pane').jScrollPane();
    gui = new Ui();

    jabber = new Jabber();
    jabber.connect('<%= @jid %>', '<%= @sid %>', '<%= @rid %>', '<%= JABBER[:host] %>');

    // update chat-window size
    $(window).resize(function(){
      h = $(window).height()-170;
      $(".chat-window").css("height", h);
      $(".chat-window").css("width", $(".chat-column").css("width"));
      window.muc.ui.api.reinitialise();
    });
    $(window).resize();
  });
</script>