<!DOCTYPE html>
<html>
<head>
  <title>Balichat</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container-fluid">
    <div id="header" class="row-fluid">
    
    <div class="span2"><h1><a class="brand" href="#">Balichat</a></h1></div>

    <ul class="span8 nav nav-tabs rooms">
      <li class="active"><a href="#">Rumble room</a></li>
    </ul>
     
    <div class="span2 settings-panel">  
        <% if user_signed_in? %>
          <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> <%= current_user %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            <li><%= link_to '<i class="icon-cog"></i> Settings'.html_safe, '#settings', 'data-toggle' => 'modal' %></li>
            <li><%= link_to '<i class="icon-off"></i> Log out'.html_safe, destroy_user_session_path, method: :delete, class: "" %></li>
          </ul>
        </div>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "navbar-link" %>
        <% end %>

    </div> 
  </div>

  <div class="row-fluid topic-row">
    <div class="span8 offset2">
      <h3 id="topic-amizade" class="topic editable">No topic</h3>
      <h3 class="topic edit hide"><%= text_field_tag :topic, '', class: 'span11 topic' %> <%= link_to_function 'Save', 'BaliUi.submitTopic()', class: 'btn btn-small' %></h3>
    </div>
  </div>

  <div class="row-fluid content-row">
    <%= yield %>
  </div>

  <div id="settings" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Settings</h3>
    </div>
    <div class="modal-body">
      <p>Coming soon.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>

</div>
</body>
</html>
