<!DOCTYPE html>
<html>
<head>
  <title>Balichat</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="header" class="container-fluid row-fluid">
    <h1 class="span2"><a class="brand" href="#">Balichat</a></h1>

    <ul class="span8 nav nav-pills">
      <li class="active"><a href="#">Amizade</a> <a href="#"><i class="icon-remove icon-white"></i></a></li>
      <li><a href="#">outro</a><i class="icon-remove icon-white"></i></li>
      <li><a href="#">caralho</a><i class="icon-remove icon-white"></i></li>
    </ul>
     
    <div class="span2 settings">  
      <p class="">
        <% if user_signed_in? %>
          Logged in as <%= current_user %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-link" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "navbar-link" %>
        <% end %>
      </p>
      <p class=""><a href="#" class="navbar-link">Settings</a></p>
    </div>  
  </div>

  <div class="container-fluid container-main">
    <%= yield %>
  </div>
</body>
</html>
