<!DOCTYPE html>
<html>
<head>
  <title>Balichat</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a class="brand" href="#">Balichat</a>
        <div class="nav-collapse collapse">          
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              Logged in as <%= current_user %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-link" %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "navbar-link" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container-fluid container-main">
    <%= yield %>
  </div>
</body>
</html>
